.App {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* height: 100vh; */
    background-color: 	#F5F5F5;
    overflow: auto;
    height: 100%
}

#id {
    height: 100vh
}