.home-container{
    margin-top: 80px;
    height: calc(100vh - 80px)
}

.signup-container{
    margin-top: 80px;
    background-image: linear-gradient(white, #D3D8E8);
    height: 536px;
    width: 100%;
    display: flex;
    justify-content: center
}

.image-section {
  
    width: 60%;
    height: 100%;
    padding: 50px 100px 0px 250px;
    /* border: 1px solid black */
}

.image-section img {
    width: 500px;
    height: 250px
}

.create-account {
   
    width: 40%;
    height: 100%
}

.create-account h1 {
    margin-top: 50px;
    margin-bottom: 12px
}

.create-account h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #1d2129;
    font-size: 19px;
    font-weight: normal
}
.create-account p {
    width: 300px;
    color: #777;
    font-size: 11px
}

.create-account .form-control {
    width: 305px;
    height: 40px;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 0px
}

.signup-btn {
    background: linear-gradient(#F3882E,#D14618);
    background-color:#F3882E;
    box-shadow: inset 0 1px 1px #F3882E;
    /* border-color: #D14618; */
    color: white;
    border-radius: 5px;
    border: 1px solid  #D14618;
    font-weight: bold;
    font-size: 19px;
    width: 152px;
    height: 39px;
    outline: none;
    margin-top: 10px
}

.signin-container{
    background-image: linear-gradient(white, #D3D8E8);
    height: 536px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center

}

.signin-panel{
    background-color: white;
    width: 614px;
    height: 376px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    text-align: center;;
    padding: 22px 108px 26px 
}

.signin-panel p {
    font-size: 18px;
    margin-bottom: 22px;
    margin-top: 18px;

}



.form-group input {
    width: 302px;
    margin: 0 auto;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}

.form-control:focus {  
    border: 1px solid #ccc;
    box-shadow: none;
}

input:focus::-webkit-input-placeholder {
    color: #cfcfc6;
    box-shadow: none;
}

.signin-btn {
    width: 302px;
    height: 42px;
    outline:none;
    border: none;
    background-color: #4267b2;
    color: white;
    font-weight: bold;
    border-radius: 2px;

}

.con {
    position:relative;
    height:1.875rem;
    line-height: 1.875rem;
    margin:2.47rem auto;
    text-align: center;
    display: flex;
    justify-content: center
}

.con i{
    display:block;
    height:1px;
    background:#adaaaa;
    position:absolute;
    top:0.9rem;
    width:305px;
}

.con p{
    display:inline-block;
    font-size: 13px;
    background:white;
    color:#4b4f56;
    padding:0 1.875rem;
    text-align: center;
    margin:0 auto;
    position:relative;
    z-index:2;                
}

.create_account {
    height: 42px;
    width: 200px;
    background: #e87110;
    color: white;
    outline: none;
    border: 1px solid 
}
        
.user-container{
    margin-top: 80px;
    height: calc(100vh - 80px);
    width: 50%;
    display: flex; 
    justify-content: center;
    align-content: center 
}

.user-avatar{
    height: 100px;
    width: 100px;
    margin: 50px auto;
    margin-bottom: 10px
}
.user-info {
    /* display: flex;
    justify-content: center; */
    height: 500px;
    width: 100%;
    border: 1px solid black;
    margin: auto
}
.user-container p {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;

}
.avatar-container{
    margin-top: 80px
}

.user-panel {
    display:flex;  
    align-items:center
}

.avatar img{
    width: 100px;
    height: 100px;
    border-radius: 50px
}

.alert{
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0px;
    width: 450px
}

.sub-btn {
    float: right;
}

.hint{
    margin-left: 30px;
    font-size: 20px
}


.mypost-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.App{
    /* background-color: #4267b2 */
}