.comment-avatar{
    float: left;
    height: 50px;
    width: 60px
}

.comment-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.navbar-brand {
    padding: 0  0;
}

.navbar img {
    height: 50px;
    width: 50px;
    border-radius: 30px
}

.navbar-default{
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%)
}

.navbar-default .navbar-brand {
    color: white 
}

.navbar-default .navbar-nav>li>a {
    color: white !important
}



.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #e87110;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
} 


.navbar{
    margin-bottom: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 16px
   
}

.navbar-item {
    margin-left: 70px;
}
.avatar{
    margin-left: 100px
}

.avatar p{
    width: 100px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 500
    /* text-align: center */
}

.username{
    height: 50px;
    width: 300px;
}
.username p{
    color: grey;
    font-size: 12px
}

.username h4 {
    font-size: 20px;
    margin-top: 0px
}

.jumbotron {
    margin-bottom: 0px; 
    padding-top: 30px;
    padding-bottom: 0px;
    height: 175px;
    margin-top: 0px
}
.collapse-header{
    background-color: #eee;
    text-align: center;
    padding-top: 5px;
    /* font-size: 20px; */
    font-weight: normal
}

.col-lg-5 {
    float: right;
    /* margin-left: 50px */
}

.warning {
    height: 34px;
    width: 200px;
    line-height: 34px;
    display: block;
    float: left;
    color:#b30000;
    border: 1px solid #b30000;
    border-radius: 4px;
    padding-left: 20px;
    background-color:  #ffe6e6
}

.signin{
    width: 300px;
    margin-left: 400px;
    float: right
}

.btn-primary{
    background-color: #4267b2
}

.pagination>.active>a {
    background-color: #4267b2
}

.pagination>li>a {
    color: #4267b2
}

